.description-box{
    display: flex;
    justify-content: space-around;
    min-height:90vh;
    background:#e6e6e6;
    align-items: center;
}


.description-container{
    max-width:1000px;
    width:100%;
    display:flex;
    flex-direction: column;
    padding:0.5rem;
    background:white;
    border-radius: 20px;;
    margin: 20px 0;
}

.single-product{
    display:flex;
    flex-direction:row;
    
    width:100%;
}

.single-image-list{
    display:flex;
    flex-direction:row;

}
.full-image{
    width:400px;
    
    padding:0.5rem;
  
}
.full-image-element{
   display: flex;
   flex-wrap: wrap;
   
    height:100%;
   
    display:flex;
    flex-direction:column;
    
    align-items: center;

}
.full-image-element img{
    height:100%;
    max-width:390px;
}
.single-image-list .list-item{
    width:120px;
    display:flex;
    flex-direction:column;
    
    align-items: center;
    padding:0.5rem 0;

}

.image-list-view{
    height:100px;
    width:75px;
    margin:1px;
    background:#e6e6d6;

}
 .list-item .image-list-view img{
    height:100%;
}
.product-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-details{
    display:flex;
    flex-direction:column;
    height: 100%;
    padding:1rem;
   
}

.amazon-logo{
    width:180px;
}
.amazon-logo img{
    width:100%;
}

.product-details .title{
    font-size:1.2rem;
    font-weight:bold;

}

.product-details .brand{
    font-size:0.8rem;
    color:blue;
}

.product-details .rating{
    font-size:0.8rem;
    color:#464545;
    padding:0.3rem 0;
}

.product-details .price{
    padding:0.5rem 0;
    font-size:1.3rem;
    font-weight:bold;
}

.product-details .description{
    display:flex;
    flex-direction: column;
}